<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>岡山の文豪ジェネレーター</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app">
    <div>
      <h2>語尾（要文末記号）</h2>
      <label for="ze">語尾1</label>
      <input type="text" v-model="ze">
      <label for="jya">語尾2</label>
      <input type="text" v-model="jya">
      <label for="ru">語尾3</label>
      <input type="text" v-model="ru">
      <label for="ya">語尾4a</label>
      <input type="text" v-model="ya">
      <label for="yat">語尾4b</label>
      <input type="text" v-model="yat">
      <label for="yas">語尾4c</label>
      <input type="text" v-model="yas">
      <label for="yade">語尾4d</label>
      <input type="text" v-model="yade">
      <label for="ta">語尾5</label>
      <input type="text" v-model="ta">
      <label for="nande">喋り方1</label>
      <input type="text" v-model="nande">
      <label for="shinaika">喋り方2</label>
      <input type="text" v-model="shinaika">
      <h2>時間(単位不要)</h2>
      <label for="month">投稿月</label>
      <input type="text" v-model="month">
      <label for="day">投稿日</label>
      <input type="text" v-model="day">
      <label for="dow">投稿曜日</label>
      <input type="text" v-model="dow">
      <label for="hour">投稿時間</label>
      <input type="text" v-model="hour">
      <label for="minute">投稿分</label>
      <input type="text" v-model="minute">
      <label for="second">投稿秒</label>
      <input type="text" v-model="second">
      <label for="yMonth">昨日月</label>
      <input type="text" v-model="yMonth">
      <label for="yDay">昨日日</label>
      <input type="text" v-model="yDay">
      <label for="yesterday">盛りあった日</label>
      <input type="text" v-model="yesterday">
      <label for="asu">盛りあった次の日</label>
      <input type="text" v-model="asu">
      <label for="yasumi">盛りあった次の日は何の日か</label>
      <input type="text" v-model="yasumi">
      <h2>登場人物</h2>
      <label for="age">登場人物の数値</label>
      <input type="text" v-model="age">
      <label for="nin">登場人物の数え単位</label>
      <input type="text" v-model="nin">
      <h3>浮浪者のおっさん</h3>
      <label for="furousha">職業</label>
      <input type="text" v-model="furousha">
      <label for="ossan">呼称</label>
      <input type="text" v-model="ossan">
      <label for="ossanAge">年齢(単位不要)</label>
      <input type="text" v-model="ossanAge">
      <label for="ossan3">身長・体重・年齢</label>
      <input type="text" v-model="ossan3">
      <h3>土方の兄ちゃん</h3>
      <label for="send">くれた物</label>
      <input type="text" v-model="send">
      <label for="like">好きなもの</label>
      <input type="text" v-model="like">
      <label for="dokata">土方</label>
      <input type="text" v-model="dokata">
      <label for="nichan">呼称</label>
      <input type="text" v-model="nichan">
      <label for="niichan">呼称(表記揺れ)</label>
      <input type="text" v-model="niichan">
      <label for="niichanAge">年齢</label>
      <h3>わし</h3>
      <label for="me">一人称</label>
      <input type="text" v-model="me">
      <label for="meAge">年齢</label>
      <input type="text" v-model="meAge">
      <label for="author">投稿者名</label>
      <input type="text" v-model="author">
      <label for="washi3">身長・体重・年齢</label>
      <input type="text" v-model="washi3">
      <label for="oyaji">呼称</label>
      <input type="text" v-model="oyaji">
      <h2>場所</h2>
      <label for="okayama">盛りあった大まかな地域</label>
      <input type="text" v-model="okayama">
      <label for="kenboku">盛りあった場所のある大まかな場所</label>
      <input type="text" v-model="kenboku">
      <label for="underLiver">盛りあった場所</label>
      <input type="text" v-model="underLiver">
      <label for="konbini">買った場所</label>
      <input type="text" v-model="konbini">
      <label for="hito">滅多に来ないもの</label>
      <input type="text" v-model="hito">
      <h2>物</h2>
      <label for="sake">買ったもの1</label>
      <input type="text" v-model="sake">
      <label for="nonde">買ったもの1の消費方法</label>
      <input type="text" v-model="nonde">
      <label for="tsumami">買ったもの2</label>
      <input type="text" v-model="tsumami">
      <label for="dikatabi">だけになったもの</label>
      <input type="text" v-model="dikatabi">
      <label for="ichidiku">入れあったもの</label>
      <input type="text" v-model="ichidiku">
      <label for="sanbon">入れあった本数</label>
      <input type="text" v-model="sanbon">
      <label for="poop">出したもの1a</label>
      <input type="text" v-model="poop">
      <label for="dobaah">出したもの1b</label>
      <input type="text" v-model="dobaah">
      <label for="exit">求めるもの1c</label>
      <input type="text" v-model="exit">
      <label for="piss">出したもの2a</label>
      <input type="text" v-model="piss">
      <label for="kanchou">出したもの2b</label>
      <input type="text" v-model="kanchou">
      <label for="shasei">出したもの3a</label>
      <input type="text" v-model="shasei">
      <label for="otokojiru">出したもの3b</label>
      <input type="text" v-model="otokojiru">
      <label for="nikai">出した回数3c</label>
      <input type="text" v-model="nikai">
      <label for="mail">連絡手段</label>
      <input type="text" v-model="mail">
      <label for="sugata">浣腸する姿</label>
      <input type="text" v-model="sugata">
      <h2>部位</h2>
      <label for="chinpo">舐め合うもの</label>
      <input type="text" v-model="chinpo">
      <label for="ketsunoana">ひくひくして来るもの</label>
      <input type="text" v-model="ketsunoana">
      <label for="hikuhiku">〇〇して来る</label>
      <input type="text" v-model="hikuhiku">
      <label for="nameru">舐める</label>
      <input type="text" v-model="nameru">
      <label for="nameruKana">なめる(表記揺れ)</label>
      <input type="text" v-model="nameruKana">
      <label for="stomach">ぐるぐるしているもの</label>
      <input type="text" v-model="stomach">
      <label for="guruguru">〇〇している</label>
      <input type="text" v-model="guruguru">
      <label for="mouth">ドバーっと出してきた部位</label>
      <input type="text" v-model="mouth">
      <label for="face">糞まみれになった部位</label>
      <input type="text" v-model="face">
      <label for="hand">掬うもの</label>
      <input type="text" v-model="hand">
      <label for="karada">塗りあった部位</label>
      <input type="text" v-model="karada">
      <label for="waist">使うもの</label>
      <input type="text" v-model="waist">
    </div>
      <p>
        やった{{ ze }}　投稿者：{{ author }} ({{ month }}月{{ day }}日（{{ dow }}）{{ hour }}時{{ minute }}分{{ second }}秒) <br><br>

        {{ yesterday }}の{{ yMonth }}月{{ yDay }}日にいつもの{{ furousha }}の{{ ossan }}（{{ ossanAge }}{{ age }}）と先日{{ send }}くれた{{ like }}好きの{{ dokata }}の{{ niichan }}<br>
        （{{ niichanAge }}{{ age }}）と{{ me }}（{{ meAge }}{{ age }}）の3人で{{ kenboku }}にある{{ underLiver }}で盛りあった{{ ze }} <br>
        今日は{{ asu }}が{{ yasumi }}{{ nande }}{{ konbini }}で{{ sake }}と{{ tsumami }}を買ってから滅多に{{ hito }}が来ない所{{ nande }}、<br>
        そこでしこたま{{ sake }}を{{ nonde }}からやりはじめたん{{ ya }} <br>
        3人で{{ chinpo }}{{ nameru }}あいながら{{ dikatabi }}だけになり持って来た{{ ichidiku }}を{{ sanbon }}ずつ入れあっ{{ ta }} <br>
        しばらくしたら、{{ ketsunoana }}が{{ hikuhiku }}して来るし、{{ poop }}が{{ exit }}を求めて{{ stomach }}の中で{{ guruguru }}してい{{ ru }} <br>
        {{ furousha }}の{{ ossan }}に{{ ketsunoana }}を{{ nameruKana }}させながら、{{ nichan }}の{{ ketsunoana }}を{{ nameru }}てたら、 <br>
        先に{{ nichan }}が{{ me }}の{{ mouth }}に{{ poop }}を{{ dobaah }}と出して来{{ ta }} <br>
        それと同時に{{ ossan }}も{{ me }}も{{ poop }}を出したん{{ ya }}もう{{ face }}中、{{ poop }}まみれ{{ yat }} <br>
        3人で出した{{ poop }}を{{ hand }}で掬いながらお互いの{{ karada }}にぬりあったり、 <br>
        {{ poop }}まみれの{{ chinpo }}を{{ nameru }}あって{{ piss }}で{{ kanchou }}したりし{{ ta }}ああ～～たまらねえ{{ ze }} <br>
        しばらくやりまくってから又{{ kanchou }}をしあうともう気が狂う程気持ちええん{{ jya }} <br>
        {{ furousha }}の{{ ossan }}の{{ ketsunoana }}に{{ me }}の{{ chinpo }}を突うずるっ込んでやると <br>
        {{ ketsunoana }}が{{ poop }}と{{ piss }}でずるずるして気持ちが良い。 <br>
        {{ niichan }}も{{ ossan }}の{{ mouth }}に{{ chinpo }}突っ込んで{{ waist }}をつかって居{{ ru }} <br>
        {{ poop }}まみれの{{ ossan }}の{{ chinpo }}を掻きながら、思い切り{{ shasei }}したん{{ ya }} <br>
        それからは、もうめちゃくちゃに{{ ossan }}と{{ nichan }}の{{ poop }}{{ chinpo }}を{{ nameru }}あい、 <br>
        {{ poop }}を塗りあい、{{ nikai }}も{{ otokojiru }}を出し{{ ta }}もう一度やりたい{{ ze }} <br>
        やはり大勢で{{ poop }}まみれになると最高{{ yade }}こんな、変態{{ oyaji }}と{{ poop }}あそび{{ shinaika }} <br>
        ああ～～早く{{ poop }}まみれになろう{{ ze }} <br>
        {{ okayama }}であえる奴なら最高{{ ya }}{{ me }}は163*90*53,{{ ossan }}は{{ ossan3 }}、や <br>
        {{ poop }}まみれでやりたいやつ、至急、{{ mail }}くれ{{ ya }} <br>
        {{ sugata }}のまま{{ kanchou }}して、{{ poop }}だらけでやろう{{ ya }}
    </p>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="js/main.js"></script>
</body>
</html>
